In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv('D:\\ai\dataset\\heart_disease.csv')

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1025 non-null   int64
 1   sex       1025 non-null   int64
 2   cp        1025 non-null   int64
 3   trestbps  1025 non-null   int64
 4   chol      1025 non-null   int64
 5   fbs       1025 non-null   int64
 6   restecg   1025 non-null   int64
 7   thalach   1025 non-null   int64
 8   exang     1025 non-null   int64
 9   oldpeak   1025 non-null   float64
 10  slope     1025 non-null   int64
 11  ca        1025 non-null   int64
 12  thal      1025 non-null   int64
 13  target    1025 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 112.2 KB

In [4]:
dataset.shape

(1025, 14)

In [5]:
dataset.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [6]:
data_dup=dataset.duplicated().any
print(data_dup)

<bound method NDFrame._add_numeric_operations.<locals>.any of 0       False
1       False
2       False
3       False
4       False
        ...
1020     True
1021     True
1022     True
1023     True
1024     True
Length: 1025, dtype: bool>

In [7]:
dataset=dataset.drop_duplicates()
dataset.shape

(302, 14)

In [8]:
dataset.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,302.00000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000
mean,54.42053,0.682119,0.963576,131.602649,246.500000,0.149007,0.526490,149.569536,0.327815,1.043046,1.397351,0.718543,2.314570,0.543046
std,9.04797,0.466426,1.032044,17.563394,51.753489,0.356686,0.526027,22.903527,0.470196,1.161452,0.616274,1.006748,0.613026,0.498970
min,29.00000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,48.00000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.250000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.50000,1.000000,1.000000,130.000000,240.500000,0.000000,1.000000,152.500000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.00000,1.000000,2.000000,140.000000,274.750000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.00000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [9]:
x=dataset.drop(['target'],axis=1)
y=dataset['target']
print(x.shape)
print(y.shape)

(302, 13)
(302,)

In [10]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=109)

In [11]:
from sklearn import svm

#from sklearn.neighbors import KNeighborsClassifier

In [12]:
clf = svm.SVC(kernel='sigmoid')
clf.fit(x_train, y_train)

#neigh=KNeighborsClassifier(n_neighbors=3)
#neigh=neigh.fit(x_train,y_train)

SVC(kernel='sigmoid')

In [13]:
y_pred = clf.predict(x_test)

#y_pred=neigh.predict(x_test)

In [14]:
from sklearn import metrics
print('Accuracy  : ',metrics.accuracy_score(y_test,y_pred))
print('Recall    : ',metrics.recall_score(y_test,y_pred))
print('Precision : ',metrics.precision_score(y_test,y_pred))

Accuracy  :  0.5384615384615384
Recall    :  1.0
Precision :  0.5384615384615384

In [15]:
"""
KNN
Accuracy  :  0.5824175824175825
Recall    :  0.6938775510204082
Precision :  0.5964912280701754
"""

'\nKNN\nAccuracy  :  0.5824175824175825\nRecall    :  0.6938775510204082\nPrecision :  0.5964912280701754\n'