In [1]:
import pandas as pd 
import numpy as np

In [2]:
data=pd.read_csv('D:\\ai\\dataset\\sentiment\\twitter_training.csv',encoding='latin-1')
test_data=pd.read_csv('D:\\ai\\dataset\\sentiment\\twitter_validation.csv',encoding='latin-1')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74681 entries, 0 to 74680
Data columns (total 4 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   2401                                                   74681 non-null  int64
 1   Borderlands                                            74681 non-null  object
 2   Positive                                               74681 non-null  object
 3   im getting on borderlands and i will murder you all ,  73995 non-null  object
dtypes: int64(1), object(3)
memory usage: 2.3+ MB

In [4]:
data.head()

,2401,Borderlands,Positive,"im getting on borderlands and i will murder you all ,"
0,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
1,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
2,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
3,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...
4,2401,Borderlands,Positive,im getting into borderlands and i can murder y...

In [5]:
df=pd.DataFrame(data)

In [6]:
df.rename(columns={'Positive': 'category',
                   'im getting on borderlands and i will murder you all ,': 'messages'},inplace=True)
df.head()

,2401,Borderlands,category,messages
0,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
1,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
2,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
3,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...
4,2401,Borderlands,Positive,im getting into borderlands and i can murder y...

In [7]:
df.drop(['2401','Borderlands'],axis=1,inplace=True)

In [8]:
df.head()

   category                                           messages
0  Positive  I am coming to the borders and I will kill you...
1  Positive  im getting on borderlands and i will kill you ...
2  Positive  im coming on borderlands and i will murder you...
3  Positive  im getting on borderlands 2 and i will murder ...
4  Positive  im getting into borderlands and i can murder y...

In [9]:
x=df['messages']

In [10]:
y=df['category']
y=y.map({'Positive':0, 'Neutral':1, 'Negative':2 ,'Irrelevant':3})
y.unique()

array([0, 1, 2, 3], dtype=int64)

##### Pre process Test Data

In [11]:
test_df=pd.DataFrame(test_data)
test_df.drop(['c1','brands'],axis=1,inplace=True)
x_test=test_df['messages']
y_test=test_df['category']
y_test=y_test.map({'Positive':0, 'Neutral':1, 'Negative':2 ,'Irrelevant':3})
y_test.unique()

array([1, 2, 0, 3], dtype=int64)

In [12]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB

In [13]:
cv=CountVectorizer(encoding='latin-1')
xtrain=cv.fit_transform(x.values.astype('U'))

In [14]:
model=MultinomialNB()
model.fit(xtrain,y)

MultinomialNB()

In [15]:
conv_xtest=cv.transform(x_test.values.astype('U'))

In [16]:
y_pred=model.predict(conv_xtest)

In [17]:
from sklearn import metrics
print('Accuracy  : ',metrics.accuracy_score(y_test,y_pred))

Accuracy  :  0.8238238238238238

In [19]:
msg="i feel so worthless today"


msg=[msg]
conv_msg=cv.transform(msg)


predict_msg=model.predict(conv_msg)


if predict_msg==0:
        print('is Positive')
elif predict_msg==1 :
    print('is Neutral')
elif predict_msg==2 :
    print('is Negative')
elif predict_msg==3 : 
    print('is Irrelevant')

is Negative