In [1]:
import pandas as pd 
import numpy as np

In [2]:
data=pd.read_csv('D:\\ai\\dataset\\spam.csv',encoding='latin-1')

In [3]:
data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [4]:
data.tail()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [6]:
print(np.array(data['Unnamed: 2']))

[nan nan nan ... nan nan nan]

In [7]:
data.drop(['Unnamed: 2','Unnamed: 3','Unnamed: 4'],axis=1,inplace=True)

In [8]:
data.shape

(5572, 2)

In [9]:
#df=pd.DataFrame(data,columns={'v1':'category','v2':'messages'})
df=pd.DataFrame(data)
df.rename(columns={'v1': 'category', 'v2': 'messages'},inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   category  5572 non-null   object
 1   messages  5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [10]:
df['category']=df['category'].map({'ham':0,'spam':1})

In [11]:
df.head()

   category                                           messages
0         0  Go until jurong point, crazy.. Available only ...
1         0                      Ok lar... Joking wif u oni...
2         1  Free entry in 2 a wkly comp to win FA Cup fina...
3         0  U dun say so early hor... U c already then say...
4         0  Nah I don't think he goes to usf, he lives aro...

In [12]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer()

In [13]:
x=df['messages']
y=df['category']

In [14]:
x=cv.fit_transform(x)

In [15]:
x

<5572x8672 sparse matrix of type '<class 'numpy.int64'>'
	with 73916 stored elements in Compressed Sparse Row format>

In [16]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=109)

In [17]:
x_train.shape

(4457, 8672)

In [18]:
x_test.shape

(1115, 8672)

In [19]:
from sklearn.naive_bayes import MultinomialNB

In [20]:
model=MultinomialNB()
model.fit(x_train,y_train)

MultinomialNB()

In [21]:
y_pred=model.predict(x_test)

In [22]:
from sklearn import metrics
print('Accuracy  : ',metrics.accuracy_score(y_test,y_pred))
print('Recall    : ',metrics.recall_score(y_test,y_pred))
print('Precision : ',metrics.precision_score(y_test,y_pred))

Accuracy  :  0.9829596412556054
Recall    :  0.9423076923076923
Precision :  0.9363057324840764

In [23]:
import joblib
joblib.dump(model,'SpamMails_model')

['SpamMails_model']

In [24]:
joblib.dump(cv,'Vectorizer')

['Vectorizer']

In [25]:
testmodel=joblib.load('SpamMails_model')

In [26]:
convtxt=joblib.load('Vectorizer')

In [27]:
msg="URGENT! We are trying to contact you. Last weekends draw shows that you have won a å£900 prize GUARANTEED. Call 09061701939. Claim code S89. Valid 12hrs only"
datatest=[msg]

In [28]:
result=convtxt.transform(datatest)

In [29]:
test=testmodel.predict(result)

if test==1:
    print('It is spam mails')
elif test==0:
    print("It is ham mails")

It is spam mails